<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Information</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label>Application version:</ion-label>
      <ion-label>v1.0.0</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Author:</ion-label>
      <ion-label>Petr Buček</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-label><a href="p_bucek@utb.cz">p_bucek@utb.cz</a></ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>API:</ion-label>
      <ion-label><a href="https://exchangerate.host/">exchangerate.host</a></ion-label>
    </ion-item>
  </ion-list>

</ion-content>
